body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  background-color: #F5F5F5;
}

.container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 15px 10px 15px;
}

.logo-img {
  width: 130px;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

header div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 15px;
  border-bottom: 1px solid #C6C6C6;
}

.post-header {
  display: flex;
}

.post-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-header-text p{
  margin: 0;
}

.bold {
  font-weight: 700;
}

.right-margin {
  margin-right: 10px;
}